apiVersion: v1
kind: Service
metadata:
  name: {{ include "union-operator.fullname" . }}-proxy
  labels:
    {{- include "proxy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.union.unionoperator.service.type }}
  ports:
    - port: {{ .Values.union.proxy.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 10254
      targetPort: debug
      protocol: TCP
      name: debug
  selector:
    {{- include "proxy.selectorLabels" . | nindent 4 }}
